.example-card {
    max-width: 400px;
  }
.example-container {
  display: flex;
  flex-direction: column;
}
  
.example-container {
  width: 100%;
}

.input {
  width : 25%;
  margin: auto;
}

.classButton {
  margin: auto;
  display: flex;
}