<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{data.name}}</mat-card-title>
                <mat-card-subtitle>Digimon</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="data.img" alt="Photo of a Digimon">
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div > 
<form (ngSubmit) ="onSubmit()" [formGroup]="datiSottoscrizione">
    
    <mat-form-field appearance="fill">
        <mat-label for="name">Name: </mat-label>
        <input id="name" type="text" formControlName="name" matInput> <br>
    </mat-form-field>
    
    <div
        *ngIf="datiSottoscrizione.get('name')?.invalid && 
        datiSottoscrizione.get('name')?.errors && 
        (datiSottoscrizione.get('name')?.dirty)">
        <small class="text-danger"*ngIf="datiSottoscrizione.get('name')?.hasError('minlength')">
            The minimum length for this field is {{datiSottoscrizione.get('name')?.errors?.['minlength'].requiredLength}} characters.
        </small>
        <!-- <p>required</p> -->
    </div>

    <mat-form-field appearance="fill">
        <mat-label for="surname">Surname: </mat-label>
        <input id="surname" type="text" formControlName="surname" matInput> <br>
    </mat-form-field>



    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email"> <br>

    <label for="numberPhone">Phone number: </label>
    <input id="numberPhone" type="text" formControlName="numberPhone"> <br><br>

    <div formGroupName="address">
        <h2>Address</h2>

        <label for="via">Street: </label>
        <input id="via" type="text" formControlName="via"> <br>

        <label for="civico">Civico: </label>
        <input id="civico" type="text" formControlName="civico"> <br>
    </div>
    <div formArrayName="arrayPrivacy">
        <div *ngFor = "let item of arrayPrivacy.controls; let indice = index">
           
            <mat-checkbox [id]="indice + ''" [formControlName]="indice">
                Privacy
            </mat-checkbox><br>  
        </div>
    

    </div>
    
  
    <button type="submit" [disabled]="datiSottoscrizione.invalid">Submit</button>
</form>
    <p>{{ datiSottoscrizione.value | json }}</p>
</div>


